<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/generic.css">
    <link rel="stylesheet" href="/stylesheets/settings.css">
    <title>MulitViewer | Settings</title>
</head>
<body>
    <%- include('../flash.ejs') %> 
    <%- body  %>

    <script src="/javascripts/settings.js"></script>
    <script src="/javascripts/settingSearch.js"></script>
</body>
</html>