<form action="/computers/mail" method="POST">
    <div>
        <label for="test">Test Variable</label>
        <input id="test" name="testVar" placeholder="testVar">
    </div>
    <div>
        this will send an email notifiction
        <button type="submit">send</button>
    </div>
</form>